<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.htt.batdongsan.mapper.FileMapper">
   
	<insert id="insert" parameterType="FileModel" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO files (
			name,
			type,
			data
		) values (
			#{name},
			#{type},
			#{data}
		)
	</insert>
     
	<select id="selectOne" parameterType="Integer" resultMap="result" >
	    select * from files
		where id = #{id}
	</select>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM `dbbds`.`files` WHERE (`id` = #{id});
	</delete>
    
    <resultMap id="result" type="FileModel"/>
</mapper>