<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.htt.batdongsan.mapper.DanhMucChungMapper">
    <select id="selectAll" resultMap="result" >
        select * from danh_muc_chung ORDER BY name
    </select>
    <select id="selectOne" resultMap="result" parameterType="Integer">
     <!--  select * from danh_muc_chung where id = (select dmc_id from danh_muc where id=#{id}) -->
      select * from danh_muc_chung where id = (select dmc_id from danh_muc where id=#{id})
    </select>
    <resultMap id = "result" type = "DanhMucChungModel"/>
</mapper>