<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.htt.batdongsan.mapper.DistrictMapper">
    <select id="selectDistrictByProvinceId" resultMap="result"  parameterType="Integer">
       select * from district
        where _province_id = #{_province_id} ORDER BY _name
    </select>
    
    <resultMap id = "result" type = "DistrictModel"/>
</mapper>