<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.htt.batdongsan.mapper.LoaiBatDongSanMapper">
    <select id="selectAll" resultMap="result" >
        select * from loai_bat_dong_san ORDER BY name
    </select>
    
    
    <resultMap id = "result" type = "LoaiBatDongSanModel"/>
</mapper>